<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wcat_Index_Decide.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wcat_Index_Decide.Properties.Settings>
            <setting name="IndexSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="JPAndroidServer" serializeAs="String">
                <value>https://i-cf.wcat.colopl.jp/assets/2020/a/</value>
            </setting>
            <setting name="JPiOSServer" serializeAs="String">
                <value>https://i-cf.wcat.colopl.jp/assets/2020/i/</value>
            </setting>
            <setting name="TWAndroidServer" serializeAs="String">
                <value>http://img.wcproject.so-net.tw/assets/2020/a/</value>
            </setting>
            <setting name="TWiOSServer" serializeAs="String">
                <value>http://img.wcproject.so-net.tw/assets/2020/i/</value>
            </setting>
        </Wcat_Index_Decide.Properties.Settings>
    </userSettings>
</configuration>