<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WcatFileSizeDetermination.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <WcatFileSizeDetermination.Properties.Settings>
            <setting name="IndexSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TWServer" serializeAs="String">
                <value>http://img.wcproject.so-net.tw/assets/2018/a/</value>
            </setting>
            <setting name="JPServer" serializeAs="String">
                <value>https://i-cf.wcat.colopl.jp/assets/2020/a/</value>
            </setting>
            <setting name="ExportSavePath" serializeAs="String">
                <value />
            </setting>
        </WcatFileSizeDetermination.Properties.Settings>
    </userSettings>
</configuration>
